*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#tool-sec{
	width:100%;
}
.tool-container{
	width:90%;
	margin:auto;
	
}
.picture{
	width:100%;
}
.picture img{
	width:100%;
}
.row{
	/* display:flex; */
	/* justify-content:space-evenly; */
	/* width:50%; */
	margin:auto;
	padding-top:50px;
	
}

.more{
	text-align:center;
	padding:10px;
}

.icon{
	/* width:0; */
	/* border-top:10px solid transparent; */
	/* border-bottom:10px solid transparent; */
	/* border-left:10px solid rgb(201,181,181); */
	
	position:absolute;
	right:0%;
	top:0%;
} 
	
.btn{
	text-align:center;
	padding:20px;	
}
.btn button{
	background-color:blue;
	color:white;
	/* font-size:20px; */
	/* border:none; */
	border-radius:50px;
	padding:10px 30px;

}
.paragraph{
	/* display:flex; */
	/* position:relative; */
	/* display:none; */
	
	
}
.content{
	display:flex;
	display:none;
	position:relative;
}
.para{
	border:1px solid black;
	padding:20px;
	
	position:relative;
	/* display:none; */
}
	